<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>NEW PASSWORD</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" 
          href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
  </head>

  <body style="height:100dvh;width:100dvw;background-color: #F1F3F8;margin: 0px;padding: 0px;overflow: hidden;">
	  
	  <div style="height:100%; width: 100%; display: flex;justify-content:center; align-items: center">
          <div style="height: 200px; width: 400px; background-color: #FFF;padding: 10px;border-radius: 5px;">
			<h4>Hi</h4>
			<p style="margin-top: 0px;" th:text="${userName}"></p>
			
			<div style="width: 100%;">
				<div style="display: flex;justify-content:center; align-items: center">
				<p>Please use below password to login to your account</p>
				</div>
               <div style="display: flex;justify-content:center; align-items: center">
				<p th:text="${password}"></p>
				</div>
			</div>
		
			  
		  </div>
		  
	  </div>
  
  </body>

</html>